################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SalgueirosFC/.vs/SalgueirosFC/FileContentIndex
